html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    position: fixed;
    width: 16.2%;
    height: 100%;
    border-right: 3px solid gray;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
}

h2{
    font-weight: 400;
}

.intro{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.intro li{
    list-style-type: none;
    padding-left: 8%;
}

.intro:hover{
    cursor: pointer;
}

.should{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.should li{
    list-style-type: none;
    padding-left: 8%;
}

.should:hover{
    cursor: pointer;
}

.java-js{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.java-js li{
    list-style-type: none;
    padding-left: 8%;
}

.java-js:hover{
    cursor: pointer;
}

.hello-world{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.hello-world li{
    list-style-type: none;
    padding-left: 8%;
}

.hello-world:hover{
    cursor: pointer;
}

.variables{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.variables li{
    list-style-type: none;
    padding-left: 8%;
}

.variables:hover{
    cursor: pointer;
}

.declare{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.declare li{
    list-style-type: none;
    padding-left: 8%;
}

.declare:hover{
    cursor: pointer;
}

.scope{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.scope li{
    list-style-type: none;
    padding-left: 8%;
}

.scope:hover{
    cursor: pointer;
}

.global{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.global li{
    list-style-type: none;
    padding-left: 8%;
}

.global:hover{
    cursor: pointer;
}

.constant{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.constant li{
    list-style-type: none;
    padding-left: 8%;
}

.constant:hover{
    cursor: pointer;
}

.data{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.data li{
    list-style-type: none;
    padding-left: 8%;
}

.data:hover{
    cursor: pointer;
}

.if-else{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.if-else li{
    list-style-type: none;
    padding-left: 8%;
}

.if-else:hover{
    cursor: pointer;
}

.white-statement{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.white-statement li{
    list-style-type: none;
    padding-left: 8%;
}

.white-statement:hover{
    cursor: pointer;
}

.function-dec{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.function-dec li{
    list-style-type: none;
    padding-left: 8%;
}

.function-dec:hover{
    cursor: pointer;
}

.reference{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
}

.reference li{
    list-style-type: none;
    padding-left: 8%;
}

.reference:hover{
    cursor: pointer;
}

.main-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin-left: 350px;
    margin-bottom: 350px;
}

.main-1{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin-left: 350px;
    padding-top: 25px;
}


.intro-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.intro-header h1{
    font-weight: 400;
}

.intro-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}

.intro-text ul li{
    margin-bottom: 30px;
}

.should-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.should-header h1{
    font-weight: 400;
}

.should-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.should-text ul li{
    margin-bottom: 30px;
}

.js-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.js-header h1{ 
    font-weight: 400;
}

.js-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.hello-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.hello-header h1{
    font-weight: 400;
}

.hello-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.hello-text-shadow{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: #f7f7f7;
    line-height: 2;
}

.hello-text-shadow code{
    padding-left: 20px;
}


.variable-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.variable-header h1{
    font-weight: 400;
}

.variable-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.declare-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.declare-header h1{
    font-weight: 400;
}

.declare-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.declare-code code{
    padding-left: 20px;
}



.variable-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.variable-code code{
    padding-left: 20px;
}

.global-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.global-header h1{
    font-weight: 400;
}

.global-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.constants-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.constants-header h1{
    font-weight: 400;
}

.constants-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.constants-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.constants-code code{
    padding-left: 20px;
}

.data-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.data-header h1{
    font-weight: 400;
}

.data-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.if-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.if-header h1{
    font-weight: 400;
}

.if-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.if-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.if-code code{
    padding-left: 20px;
}

.while-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.while-header h1{
    font-weight: 400;
}

.while-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.while-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.while-code code{
    padding-left: 20px;
}

.function-header{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.function-header h1{
    font-weight: 400;
}

.function-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.function-code{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #f7f7f7;
    line-height: 2;
}

.function-code code{
    padding-left: 20px;
}